<article class="post">
  <div class="post-head">
    <a href="/post/{{id}}" class="post-title">{{title}}</a>
    <p class="post-info">Posted by {{user.username}} on {{format_date created_at}} | {{comments.length}} {{format_plural "comment" comments.length}}</p>
  </div>
  <div class="body">
    <p class="post-text">{{post_text}}</p>
  </div>
</article>